/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* layout */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
}

.gameboy {
    background-color: #959595;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px 25px;
}

.around-screen {
    background-color: #515151;
    padding: 25px 35px;
    border: 2px solid #ffffff;
}

.screen {
    background-color: #d9e9c7;
    padding: 10px 30px;

}

.scoreboard {
    color: black;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;

}


.play-area {
    border: 4px solid #7f9c20;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    width: 250px;
    height: 250px;
}

.play-button {
    background-color: black;
    width: 200px;
    height: 200px;
}

/* component */


.food {
    background-color: red;
    border-radius: 50%;
}

.player {
    background-color: #36382e;
}